/* primary color: #002347 */
/* secondary color: #fdc632 */

section#content {
  margin-top: 70px;
}

@media (max-width: 480px) {
  section#content {
    margin-top: 0px;
  }
}

a[href] {
  color: #000000;
}

.text-primary {
  color: #000000 !important;
}

/* BannerArea Depan */
.home_banner_area {
  min-height: 600px;
  background-position: bottom center;
  
}
/* #banner_image {
  width: 100%;
  background: url(../edustage/img/banner/pets2.jpg) no-repeat;
  height: 600px
  background-position: center;
} */
.card_book .product_title a {
  width: 100%;
  box-sizing: border-box;
  text-overflow: ellipsis;
  overflow: hidden;
  display: inline-block;
  white-space: nowrap;
  font-size: 16px;
  color: #021973;
  font-family: "Alumatica",sans-serif;
  font-weight: 700;
}

/* .card_book .book_category {
  display: block;
  position: absolute;
  font-size: 0.8rem;
  top: 10px;
  left: 10px;
  padding: 0px 6px;
  background-color: #000000;
  border-radius: 3px;
  color: purple;
} */
.card_book{
 box-shadow: 0 0 10px 1px hsl(0deg 0% 82% / 49%);
  box-sizing: border-box;
  border-radius: 15px;
}

/* Picture  Coontent Produk */
.course_head {
  height: 180px;
  /* background-color: #f9f9ff; */
  overflow: hidden;
  border-radius: 15px 15px 0px 0px;
}

/* Product Card */
.card_book .single_course {
  height: 466px;
  /* background-color: white; */
  overflow: hidden;
}

/* .single_course .course_content {
  background-color: white;

} */

.btn-primary {
  background-color: #bec8f4;
  border-color: #bec8f4;
  color: rgb(0, 0, 0);
  border-radius: 25px;
}

.btn-primary:hover,
.btn-primary:active,
.btn-primary:focus, 
.btn-whislist:hover,
.btn-whislist:active,
.btn-whislist:focus {
  background-color: #586ecd;
  /* border-color: #000000; */
  color: white;
}

.btn-whislist {
  background-color: transparent;
  border: 1px solid var(--G500,#bec8f4);
  color: rgb(0, 0, 0);
  border-radius: 25px;
}

a.btn-primary {
  color: black;
}

.list-group .list-group-item.active {
  background-color: #000000;
  border-color: #000000;
}

.list-group.secondary .list-group-item.active {
  background-color: #000000;
  border-color: white;
  color: white;
}

.pagination .page-item .page-link {
  color: #000000;
  border-radius: 50%;
  margin: 0px 3px;
}

.pagination .page-item.active .page-link {
  background-color: #000000;
  border-color: #000000;
  color: white;
}

.formaction{
  border: 1px solid rgb(229, 231, 233);
  border-radius: 8px;
  padding: 15px 15px;
}


